<section class="w-full p-20 max-w-[1450px] mx-auto">
  <h3 class="uppercase text-center font-semibold mb-10 text-balance mx-auto">
    Guia de la 3a Edición de los Premios Esland
  </h3>

  <lite-youtube
    class="shadow-2xl shadow-white/10 rounded-xl"
    videoid="E2Rj2gQAyPA"
    videotitle="Guia de la 3a Edición de los Premios Esland"></lite-youtube>
</section>

<script>
  import "@justinribeiro/lite-youtube";
</script>
