---
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';

interface Props {
	description: string;
	title: string;
}

const {description, title} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global> 

:root{
	color-scheme: dark;
}

html{
		background-color: rgb(13, 19, 51);
		font-family:  'Onest Variable', sans-serif;
	}
	
	p{
		color: rgba(255, 255, 255, 0.9);
		line-height: 1.4;
		margin-bottom: 1em;
		font-weight: -100;
		font-size: 1em;
		letter-spacing: .5x;
	}
	
	p strong{
		color: white;
		font-weight: 700;
	}

</style>
